<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="Server=localhost;Port=5432;Database=MyWishMarketBot;UserId=postgres; Password=Dania30042000!; commandTimeout=120;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>